@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Multiple Line Series</h3>
                </div>
                @*<div id="chart2" class="panel-body">
                </div>*@
                <a href="/jsindotnet">
                    How to call JavaScript code from .NET
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 5rem;">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Errands</h5>
                <p class="card-text" style="text-align: center;">@Model.ErrandsAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Elevators</h5>
                <p class="card-text" style="text-align: center;">@Model.ElevatorsAmount</p>
            </div>
        </div>
    </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Technichans</h5>
                <p class="card-text" style="text-align: center;">@Model.TechnichansAmount</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Comments</h5>
                <p class="card-text" style="text-align: center;">@Model.CommentsAmount</p>
            </div>
        </div>
    </div>
</div>




